.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #E0E0E0;
  border: 0;
  font-size: 12px;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #F5923E;
  color: white;
}

.component-button.acid button {
  background-color: #1cbb31;
  color: white;
}

.component-button.lizard button {
  background-color: #09ea27;
  color: white;
}

@media (min-width: 200px) and (min-height: 200px) {
  .component-button button {
    font-size: 25px;
  }
}

@media (min-width: 300px) and (min-height: 300px) {
  .component-button button {
    font-size: 30px;
  }
}

@media (min-width: 400px) and (min-height: 400px) {
  .component-button button {
    font-size: 35px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .component-button button {
    font-size: 40px;
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .component-button button {
    font-size: 60px;
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  .component-button button {
    font-size: 70px;
  }
}
